@media(max-width:1200px){
    .contact-form{
        background-image: url(..//..//..//img/map-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}