.prices {
  padding-top: 50px;
  .title {
    @include title(30px);
  }
  .title-info {
    @include title-info(15px);
  }
  .prices-plan {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 35px;
    .prices-info {
      .price-big {
        font-size: 35px;
        color: black;
      }
      svg {
        color: $main-color;
      }
      p {
        color: $main-color;
        margin-top: 20px;
        margin-left: 5px;
      }
    }
  }
  .prices-info-price {
    margin-top: 10px;
  }
}
.line {
  max-width: 200px;
  border: 1px solid;
  color: $main-color;
  margin-left: 50px;
}
