.works{
    padding-top:80px;
    .container{
        max-width: 100%;

        .title{
            font-size:30px;
            text-transform: uppercase;
            text-align: center;
            

    
    
        }
        .title-info{
            text-align: center;
            color:#8a8a8a;
            font-size:15px;
        }
    }
    .square{
        width: 250px;
        height: 250px;
        background-color: #8a8a8a;
        margin-right: 2px;
        margin-bottom: 2px;
    }
    .square:first-child{
        margin-left: 5px;
    }
    .square:last-child{
        margin:0;
    }
    .active{
        background-color: $main-font-color;
        position: relative;
    }
    .active::before, .active::after{
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
      
      
       
      
        
        
      }
      .active::before{
        background-color:white;
        border-radius: 3px;
        
        top:55px;
        left:95px;
       
        transform: rotate(45deg);
      }
      .active::after{
        
        border-radius: 3px;
        top:55px;
        left:95px;
        
        background-image: url(../img/svg/link.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 60%;
        
      
      }
      
      .romb-2::before, .romb-2::after{
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
      
      
       
      
        
        
      }
      .romb-2::before{
        background-color:#434343;
        border-radius: 3px;
        
        top: 55px;
        left:120px;
       
        transform: rotate(45deg);
      }
      .romb-2::after{
        
        border-radius: 3px;
        
        top: 55px;
        left:120px;
        background-image: url(../img/svg/search.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 55%;
        transform: rotate(85deg);
        
      
      }
      
      
      
  
     
}

.first-romb-text{
    color:white;
    text-align: center;
    margin-top:110px;
    font-size:14px;
}
.second-romb-text{
    color:white;
    text-align: center;
    font-size:12px;
    margin-top:15px;
}
.like{
    p{
        color:white;
        margin-left:5px;
        margin-top:-5px;
    }
}

.row-bottom{
    padding-bottom: 50px;
}
