@media (max-width: 1200px) {
  .footer-wrapper {
    background-color: #383838;
    font-size: 14px;
    text-align: center;
    position: relative;
    color: white;
    p {
      padding-top: 25px;
    }
  }
}

@media (max-width: 992px) {
  .footer-wrapper {
    background-color: #383838;
    font-size: 13px;
    text-align: center;
    position: relative;
    color: white;
    p {
      padding-top: 25px;
    }
  }
}

@media (max-width: 992px) {
  .footer-wrapper {
    background-color: #383838;
    font-size: 12px;
    text-align: center;
    position: relative;
    color: white;
    p {
      padding-top: 25px;
    }
  }
}
