.clients{
    background-color: #383838;
    padding-top:35px;
    padding-bottom: 35px;
   .photo-box{
       width:275px;
       height: 155px;
       border:1px solid #333333;
       background-color: #333333;
       margin-right:20px;
       position: relative;
       margin-top: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left:25px;
       &:hover{
           background-color:$main-font-color;
           
           overflow: hidden;
       }

    img{
        width: 100px;
        height: 100px;
        position: absolute;
        top:35px;
        left:75px;
        padding-bottom: 20px;

        &:hover{
            color:white;
        }
        
        
        
        
        
                
            }
            
   }
   .carousel-indicators{
       bottom:-50px;
   }
   
}
