@media (max-width: 1200px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 185px;
        height: 55px;
      }
    }
  }
  .buttons-info {
    
    margin-right: 15px;

   
  }
 
}

@media (max-width: 992px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 170px;
        height: 45px;
      }
    }
  }
  .buttons-info {
    
    margin-right: 15px;
    

   
  }
  
}

@media (max-width: 768px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 150px;
        height: 40px;
      }
    }
  }
  .buttons-info {
    
    margin-right: 15px;
    

    
  }
 
}
