@media (max-width: 1200px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 185px;
        height: 55px;
      }
    }
  }
  .buttons-info {
    padding-top: 40px;
    margin-right: 15px;

    svg {
      width: 35px;
      height: 35px;
    }
  }
  .buttons-info:last-child {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 170px;
        height: 45px;
      }
    }
  }
  .buttons-info {
    padding-top: 40px;
    margin-right: 15px;
    padding-bottom: 15px;

    svg {
      width: 30px;
      height: 30px;
    }
  }
  .buttons-info:last-child {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .footer-icons {
    background-color: #383838;
    .footer-icon-wrapper {
      text-align: center;
      padding-top: 15px;
      img {
        width: 150px;
        height: 40px;
      }
    }
  }
  .buttons-info {
    padding-top: 40px;
    margin-right: 15px;
    padding-bottom: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
  }
  .buttons-info:last-child {
    margin: 0;
  }
}
