header {
  border-bottom: 2px solid #dedede;
  padding-top: 15px;
  padding-bottom: 15px;
  img {
    width: 160px;
    height: 40px;
  }
}
.row {
  align-items: center;
}
li.active {
  a {
    background-color: $main-color;
  }
}

header menu li.hovered,
header menu li:hover {
  background-color: $main-font-color;
}
